<app-topnav></app-topnav>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content" style="padding-bottom: 0px; padding-top: 0px;">
          <div class="row valign-wrapper">
            <div class="col s12 m1">
              <span>Date Period</span>
            </div>
            <div class="col s12 m4 input-field">
              <label for="startDate">Start Date</label>
              <input type="text" class="datepicker validate" id="startDate">
            </div>
            <div class="col s12 m3 input-field">
              <label for="endDate">End Date</label>
              <input type="text" class="datepicker validate" id="endDate">
            </div>
            <div class="col s12 m4 right-align">
              <button class="btn waves-effect deep-purple btn-small">Export Data</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
