<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-content">
        <h4 class="card-title center">Categories</h4>
        <table class="responsive-table centered">
          <thead>
            <tr>
              <th>Category Name</th>
              <th>Category Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of this.categories | async">
              <td>{{ category.categoryName }}</td>
              <td>{{ category.categoryDescription }}</td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination center">
          <li>
            <a (click)="this.current_page - 1 > 0 ? setCategoryPagination(this.current_page - 1) : setCategoryPagination(0)"><i class="material-icons">chevron_left</i></a>
          </li>
          <li>
            <a *ngFor="let num of this.categories_pagination" [ngClass]="{ link: this.current_page == num }">{{ num != undefined ? this.paginationIllusion(num) : 1 }}</a>
          </li>
          <li>
            <a (click)="this.current_page + 1 > 0 ? setCategoryPagination(this.current_page + 1) : setCategoryPagination(0)"><i class="material-icons">chevron_right</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
