.input-field input[type="text"]:focus + label {
    color: #e91e63;
}

.input-field input[type="text"]:focus {
    border-bottom-color: #e91e63;
    box-shadow: none;
}

.link {
    color: #e91e63;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}
