<app-topnav></app-topnav>

<!-- Initialize Modals -->
<app-modal-item-update [item_data]="this.item_form"></app-modal-item-update>
<app-modal-item-delete [delete_item]="this.delete_item"></app-modal-item-delete>
<app-modal-item-details [item_details]="this.item_details"></app-modal-item-details>
<app-modal-item-add></app-modal-item-add>

<div class="container">
    <div class="row">
        <div class="col s12 m12 l3">
            <div class="row">
                <div class="col s12 m6 l12">
                    <div class="card center">
                        <div class="card-content">
                            <div class="card-title">
                                Low on Stocks Items
                                <h5>{{ (this.low_stocks != null) ? this.low_stocks.length : 0 }} Items</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l12">
                    <div class="card center">
                        <div class="card-content">
                            <div class="card-title">
                                No Stocks Items
                                <h5>{{ (this.no_stocks != null) ? this.no_stocks.length : 0 }} Items</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Stocks</span>
                    <form (ngSubmit)="searchSubmit()" [formGroup]="this.search_form">
                        <div class="row valign-wrapper">
                            <div class="col s9 m10 l10 input-field">
                                <input type="text" class="validate" id="item"
                                    (focus)="this.item_placeholder = 'Search item.'"
                                    [placeholder]="this.item_placeholder" formControlName="search_name" />
                                <label for="item">Item</label>
                            </div>
                            <button class="btn waves-effect btn-small col s3 m2 l2 green">
                                Search
                            </button>
                        </div>
                    </form>
                    <table class="responsive-table centered" style="table-layout: fixed">
                        <thead class="blue lighten-1 white-text">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Unit</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="(this.stockList != undefined) && (this.stockList.length <= 0)">
                                <td colspan="8">
                                    No Items Available
                                    <br>
                                    <a class="link modal-trigger" data-target="add_item">Add item</a>
                                </td>
                            </tr>
                            <tr *ngFor="let data of this.stockList">
                                <td>{{ data.productName }}</td>
                                <td style="word-wrap: break-word">
                                    {{ data.productDescription }}
                                </td>
                                <td>{{ data.productUnit }}</td>
                                <td>${{ data.productPrice }}</td>
                                <td>{{ data.productQuantity }}</td>
                                <td>{{ data.category.categoryName }}</td>
                                <td>{{ data.productStatus }}</td>
                                <td>
                                    <a class="link modal-trigger" data-target="update_item" (click)="setUpdateForm(data)">Update</a>
                                    |
                                    <a class="link modal-trigger" id="delete_item" data-target="delete_item" (click)="setDeleteData(data.id, data.productName)">Delete</a>
                                    |
                                    <a class="link modal-trigger" data-target="details_item" (click)="setItemDetails(data)">Details</a>
                                </td>
                            </tr>
                            <tr *ngIf="(this.stockList != undefined) && (this.stockList.length >= 1)">
                                <td colspan="8">
                                    <a class="link modal-trigger" data-target="add_item">Add new item.</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>