<app-topnav></app-topnav>
<app-modal-item-update [new_item_data]="this.item_form"></app-modal-item-update>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l3">
            <div class="row">
                <div class="col s12 m6 l12">
                    <div class="card center">
                        <div class="card-content">
                            <div class="card-title">
                                Low on Stocks Items
                                <h5>{{ (this.low_stocks != null) ? this.low_stocks.length : 0 }} Items</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l12">
                    <div class="card center">
                        <div class="card-content">
                            <div class="card-title">
                                No Stocks Items
                                <h5>{{ (this.no_stocks != null) ? this.no_stocks.length : 0 }} Items</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Stocks</span>
                    <form (ngSubmit)="searchSubmit()">
                        <div class="row valign-wrapper">
                            <div class="col s9 m10 l10 input-field">
                                <input type="text" class="validate" id="item"
                                    (focus)="this.item_placeholder = 'Search item.'"
                                    [placeholder]="this.item_placeholder" />
                                <label for="item">Item</label>
                            </div>
                            <button class="btn waves-effect btn-small col s3 m2 l2 green">
                                Search
                            </button>
                        </div>
                    </form>
                    <table class="responsive-table centered" style="table-layout: fixed">
                        <thead class="blue lighten-1 white-text">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Unit</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of this.stockList">
                                <td>{{ data.productName }}</td>
                                <td style="word-wrap: break-word">
                                    {{ data.productDescription }}
                                </td>
                                <td>{{ data.productUnit }}</td>
                                <td>${{ data.productPrice }}</td>
                                <td>{{ data.productQuantity }}</td>
                                <td>{{ data.category.categoryName }}</td>
                                <td>{{ data.productStatus }}</td>
                                <td>
                                    <a class="link modal-trigger" href="#update_item" (click)="setUpdateForm(data.id, data.productName, data.productDescription, data.productUnit, data.productPrice, data.productQuantity, data.category, data.productStatus, data.productOtherDetails, data.supplier)">Update</a>
                                    |
                                    <a class="link">Delete</a>
                                    |
                                    <a class="link">Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>